<div class="content">
    <div class="container-fluid">
       <div class="row">
          <div class="col-12">
             <div class="card">
                  <!-- <div class="card" [ngStyle]="{'background-color': getBgColor()}"> -->
                <div class="card-header">
                    <h3 class="card-title">{{ title }}</h3>
                    <div class="card-tools">
                        <a class="glyph-icon simple-icon-plus color-blue class-options" routerLink="new" (click)="onNew()" *ngIf="showList"></a>
                        <a class="glyph-icon simple-icon-list color-blue class-options" routerLink="/departement" (click)="onList()" *ngIf="showNew"></a>
                      </div>
                   </div>
                <!-- /.card-header -->
                <div class="card-body" >
                   
                  <router-outlet></router-outlet>  
                   
                </div>
                <!-- /.card-body -->
             </div>
             <!-- /.card -->
          </div>
       </div>
    </div>
 </div>