<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">{{ title }}</h1>
        </div><!-- /.col -->        
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
<div class="content">
    <div class="container-fluid">
      <div class="row">
            <div class="col-12">
     <div class="card">
        <!-- <div class="card-header">
          <h3 class="card-title"></h3>
        </div> -->
        <!-- /.card-header -->
        <div class="card-body">
          <table id="departement" class="table table-bordered table-striped dataTable">
            <thead>
            <tr>
              <th>Departement Name</th>            
              <th></th>
            
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Trident</td>
              <td>Internet Explorer 4.0</td>                      
            </tr>


            <tr>
              <td>Presto</td>
              <td>Opera 9.2</td>        
            
            </tr>
            <tr>
              <td>Presto</td>
              <td>Opera 9.5</td>            
            </tr> 
            </tbody>

          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
            </div>
        </div>
    </div>
</div>
