<!-- <div class="col-md-3 float-right">
   <input class="form-control" type="text" name="search" 
   [(ngModel)]="searchText" placeholder="Search"
   >
 </div>
<table id="managers" class="table table">
        <thead>
           <tr>
              <th style="width: 10%;">Action</th>
              <th>First Name</th> 
              <th>Last Name</th>                        
              <th>Email</th>                        
              <th>Phone</th>                        
              <th>Departement</th>                        
              <th>Status</th>                        
           </tr>
        </thead>
        <tbody>
        <tr *ngFor="let manager of managers | filter:searchText | paginate: {itemsPerPage : pageSize , currentPage:page},
         let i = index">                            
              <td><i class="glyph-icon simple-icon-pencil color-green" [routerLink]="[i,'edit']"></i>   
                <i class="glyph-icon simple-icon-trash color-red" (click)="onDeleteManager(i)"></i></td>
              <td>{{ manager.firstName }}</td>
              <td>{{ manager.lastName }}</td>
              <td class="smallText">{{ manager.email }}</td>
              <td>{{ manager.phone }}</td>
              <td>IT</td>
              <td><small class="badge" 
                [ngClass]="{'badge-light-success': manager.status =='Active', 
                            'badge-light-danger': manager.status =='Disabled'}">
                   {{ manager.status }}</small></td>
           </tr>
        </tbody>
     </table>
  <pagination-controls (pageChange)="page = $event"></pagination-controls> -->