
<form (ngSubmit) ="onSubmit(f)" #f="ngForm">
        <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="departement-name">Departement Name</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        id="name" 
                        name="name" 
                        ngModel
                        #name="ngModel"
                        required
                        [ngClass]="{'is-invalid': !name.valid && name.touched  , 'is-valid' : name.valid && name.touched }">
                      </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nb-employe">Number of employes</label>
                        <input 
                        type="number"
                        class="form-control" 
                        id="nbEmployee" 
                        name="nbEmployee" 
                        ngModel
                        #nbEmployee="ngModel"
                        required
                        pattern="^[1-9]+[0-9]*$"
                        [ngClass]="{'is-invalid': !nbEmployee.valid && nbEmployee.touched , 'is-valid' : nbEmployee.valid && nbEmployee.touched}">
                      </div>
                </div>
                <div class="col-md-5">
            
                </div>
                <div class="col-md-2">
                    <button class="form-control" type="submit" [disabled]="!f.valid"><i class="fas fa-plus"></i>{{ editMode ? ' Edit' : ' Add'}}</button>
                </div>
                <div class="col-md-5">
                    
                    </div>
            </div>
</form>


