<div class="col-md-3 float-right">
   <input class="form-control" type="text" name="search" 
   [(ngModel)]="searchText" placeholder="Search"
   >
 </div>
<table id="departement" class="table table">
    <thead>
       <tr>
          <th style="width: 10%;">Action</th>
          <th>Departement Name</th> 
          <th>Number of employes</th>                        
       </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dep of departements | filter:searchText
               |  paginate: {itemsPerPage : pageSize , currentPage:page},
               let i = index">                            
          <td><i class="glyph-icon simple-icon-pencil color-green" [routerLink]="[dep.id,'edit']"></i> 
             <i class="glyph-icon simple-icon-trash color-red" (click)="onDeleteDepartement(dep.id)"></i> 
         </td>
          <td>{{ dep.name }}</td>
          <td><small class="badge badge-primary"><i class="far fa-user"></i> {{ dep.nbEmployee }}</small></td>
       </tr>
    </tbody>
 </table>
 <pagination-controls (pageChange)="page = $event"></pagination-controls>