<table id="departement" class="table table">
    <thead>
       <tr>
          <th style="width: 10%;">Action</th>
          <th>Departement Name</th> 
          <th>Number of employes</th>                        
       </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dep of departements , let i = index">                            
          <td><i class="glyph-icon simple-icon-pencil color-green" [routerLink]="[i,'edit']"></i>   
            <i class="glyph-icon simple-icon-trash color-red" (click)="onDeleteDepartement(i)"></i></td>
          <td>{{ dep.nameDep }}</td>
          <td><small class="badge badge-primary"><i class="far fa-user"></i> {{ dep.nbEmploye }}</small></td>
       </tr>
    </tbody>
 </table>