<!-- <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">{{ title }}</h1>
            </div>        
          </div>
        </div>
      </div> -->
      <!-- /.content-header -->
  
      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">                       
                <div class="card">
                    <div class="col-md-8">
                    <full-calendar 
                    defaultView="dayGridMonth" 
                    [plugins]="calendarPlugins"
                    [weekends]="false"
                    [events]="[
                    { title: 'event 1', date: '2019-10-24' },
                    { title: 'event 2', date: '2019-10-24' }
                  ]"></full-calendar>
                </div>
            </div>
            
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>