

.container-fluid {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

.card {
    box-shadow: none;

}
   .card.purple{
    border-left: 4px solid;
    border-left-color: #e0dcff;
   }

  .transparent{
    background-color: transparent;
}
.card-header {
    background-color: white;
    /* border-left: 4px solid; */
    border-bottom:none;
    height: 50px;
    /* border-left-color: #e0dcff; */
}
thead {
    background-color: #e0dcff;
    color: #5052a7
}

table {
    clear: both;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0 11px;
    border: none;
}
table tbody tr{
    
    box-shadow: 0 1px 2.94px 1.06px rgba(4,26,55,.16);
    border-radius: 5px;
    position: relative;
    background-color: white;
}


.table td, .table th {
    padding: 18px;
    vertical-align: top;
    border-top: none;
}
.card:hover {
    box-shadow: 0 0 25px -5px #9e9c9e;
 
}

table tbody tr:hover {
    box-shadow: 0 0 6px 0 #4099ff;
}
.btn-success {
    color: #fff;
    background-color: #2ed8b6;
    border-color: #2ed8b6;
}
.btn-success:hover {
    color: #fff;
    background-color: #2ab196;
    border-color: #2ab196;
}

.btn-danger {
    color: #fff;
    background-color: #ff5370;
    border-color: #ff5370;
}

table tbody tr .btn {
    border-radius: 50%;
    margin: 0 3px;
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

td>i.glyph-icon {
    margin-left: 5PX;
    margin-right: 5px;
    font-size: 18px;
    cursor: pointer;
}
.class-options {
    font-size: 25px;
    margin-left: 5PX;
    margin-right: 5px;
    cursor: pointer;
}
.card-header>.card-tools {
    top: 0.8rem;
}
.color-red {
    color: #ff5370;
}

.color-green{
    color: #1de9b6 ;
}
.color-purpel{
    color : #a389d4;
}
.color-blue{
    color : #00bcd4;
}
.color-yellow{
    color:#ffb64d;
}
.badge-primary {
    color: #5052a7;
    background-color: #e0dcff;
    font-size: 13px;
}

.control-sidebar-dark {
    background: #3f4d67;
}

i.far.glyph-icon {
    margin-right: 5px;
}
i.fas.glyph-icon {
    margin-right: 5px;
}
.badge-light-success{
    background: rgba(46,216,182,.2);
    border-color: #c4f4eb;
    color: #2ed8b6;
    font-size: 13px;
}
.badge-light-danger{
    background: rgba(255,83,112,.2);
    border-color: #ffcfd7;
    color: #ff5370;
    font-size: 13px;
}

.badge-light-gray {
    background: rgba(255, 255, 255, 0.2);
    border-color: #4e4e4e;
    color: #bfb9ba;
    font-size: 13px;
}
.glyph-icon.iconsmind-Phone-2 {
    font-size: 23px;
}
.glyph-icon.iconsmind-Mail-Add {
    font-size: 23px;
}

.center { 
    text-align: center; 
}




i.nav-icon.glyph-icon.iconsmind-Optimization {
    font-size: 25px;
    margin-right: 8px;
    vertical-align: middle;
}


i.nav-icon.glyph-icon.iconsmind-Gears {
    font-size: 25px;
    margin-right: 8px;
    vertical-align: middle;
}

i.nav-icon.glyph-icon.iconsmind-ID-3{
    font-size: 25px;
    margin-right: 8px;
    vertical-align: middle;
}

i.fas.glyph-icon.iconsmind-MaleFemale{
    font-size: 25px;
    margin-right: 8px;
    vertical-align: middle;
}

i.nav-icon.glyph-icon.iconsmind-Management{
    font-size: 25px;
    margin-right: 8px;
    vertical-align: middle;
}

i.far.glyph-icon.iconsmind-Mail-Read{
    font-size: 25px;
    margin-right: 8px;
    vertical-align: middle;
}

i.nav-icon.glyph-icon.iconsmind-Numbering-List{
    font-size: 25px;
    margin-right: 8px;
    vertical-align: middle;
}
i.nav-icon.glyph-icon.glyph-icon.iconsmind-Calendar-4{
    font-size: 25px;
    margin-right: 8px;
    vertical-align: middle;
}

i.nav-icon.glyph-icon.iconsmind-Power-2.text-danger{
    font-size: 25px;
    margin-right: 8px;
    vertical-align: middle;
}


/* .main-sidebar, .main-sidebar::before {
    
    width: 260px;
} */

.nav {
    flex-wrap: unset;
}


.ck-editor__editable_inline {
    min-height: 300px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
}
@media (min-width: 768px){
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        float: right;
    }
}

.row.paginate{
    width: 100%;
}