[class*=sidebar-dark-] {
    background-color: #3f4d67;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.green.active,
 .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.green.active {
     background: linear-gradient(-135deg,#1de9b6 0,#1dc4e9 100%);
 }

 .sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.blue.active,
 .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.blue.active {
    background: linear-gradient(-135deg,#51b2ea 0,#2c87e4 100%);
}
 


 .sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.yellow.active,
 .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.yellow.active {
 background: linear-gradient(-135deg,#e1ea52 0,#ff9e88 100%);
}


.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.red.active,
 .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.red.active {
background: linear-gradient(-135deg,#fda9a9 0,#dc3545 100%);
}

 [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.purple.active, 
 [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.purple.active:focus,
  [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.purple.active:hover {
    background : linear-gradient(-135deg,#899fd4 0,#a389d4 100%);
    color: aliceblue;
 }
 [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.blue.active, 
 [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.blue.active:focus,
  [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.blue.active:hover {
    background: linear-gradient(-135deg,#51b2ea 0,#2c87e4 100%);
    color: aliceblue;
 }


 [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.pink.active, 
 [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.pink.active:focus,
  [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.pink.active:hover {
    background: linear-gradient(-135deg,#d489bd 0,#8374bf 100%);
    color: aliceblue;
 }

