<div class="col-md-12">
  <div class="card">
  
        <div class="input-group">
            <input type="search" placeholder="Search" class="form-control" aria-label="Search" [(ngModel)]="searchText">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
          </div>
          
  </div>
</div>
    <div class="col-md-6 col-sm-12" *ngFor="let job of jobPositions| filter:searchText | paginate: {itemsPerPage : pageSize , currentPage:page}">
        <div class="card" >
            <div class="card-header">
              <h3 class="card-title" *ngIf="job.title.length <= 20;else elseBlock">{{ job.title }}</h3>
              <ng-template #elseBlock><h3 class="card-title" *ngIf="job.title.length > 20">{{ job.title | summary : 18 }}</h3></ng-template>
              
              <div class="card-tools">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <span class="badge badge-primary"> Departement : {{ job.name }}</span>
              </div>
              <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <label for=""><span class="glyph-icon iconsmind-Letter-Open"></span> Job Description : </label>
                {{ job.description | summary : 20}}
                <br>
                <label for=""> <span class="glyph-icon iconsmind-Euro-Sign"></span>
                  Salary : </label> {{job.salary}} $ <br>
                <label for=""><span class="glyph-icon iconsmind-Location-2"></span>
                 Location : </label> {{job.location}}
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <div class="row">
                <div class="col-md-6">
                    <small class="badge-light-gray"><i class="glyph-icon iconsmind-Over-Time"></i> {{ job.updated_at | date : 'MMM d, y, h:mm:ss a'}}</small>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-block btn-outline-secondary btn-sm"  (click)="onEdit(job.id)">Edit</button>
                </div>
              </div>            
            </div>
            <!-- /.card-footer -->
          </div>
          <!-- /.card -->
        
    </div>

      
    <div class="row paginate">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>          

            
  

